// Colors
$cWhite: #fff;
$cBlack: #000;
$cBgGray: rgba(125, 125, 125, 0.3);
$cBgGrayHover: rgba(125, 125, 125, 0.6);
$cMainPurple1: #6253e1;
$cMainPurple2: #852d91;
$cMainPurple3: #a3a1ff;
$cMainPurple4: #f24645;
$cWorksBorder: #7d7d7d;
$cShadowPurple: #cf00ff;
$cNumberShadow: rgba(190, 0, 255, 0.5);

// Width
$contentMaxWidth: 1340px;
$about-max-width-lg: 870px;
$about-max-width-xl: 1180px;
$about-width-lg: 670px;
$about-width-xl: 900px;

// height
$works-page-img-sm: 66.67%;
$works-page-img-lg: 56.25%;

// gap
$about-gap-lg: 20px;
$about-gap-xl: 30px;

// shadow
$loader-shadow: 0 0 10px 2px rgb(255, 0, 255, 0.8) inset;
$btn-shadow: 0 4px 15px 0 rgba(205, 95, 255, 0.75);
$btn-shadow-hover: 0 4px 20px 0 rgba(245, 100, 255, 0.75);
$about-box-shadow: 10px;